# Series in Pandas

In [2]:
import pandas as pd

In [12]:
p=pd.Series()
print(p)

Series([], dtype: object)

In [10]:
p=[11,22,33,44,55,66]
p1=pd.Series(p)
print(p1)

0    11
1    22
2    33
3    44
4    55
5    66
dtype: int64

In [23]:
p=pd.Series([1,2,3,4,5,6])
print(p)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [17]:
p=[11,22,33,44,55,66]
p1=pd.Series(p,name="data",index=['a','b','c','d','e','f'],dtype="float")
print(p1)

a    11.0
b    22.0
c    33.0
d    44.0
e    55.0
f    66.0
Name: data, dtype: float64

In [19]:
p={"name":['python','c','java','r'],"rank":[1,2,3,4]}
p1=pd.Series(p)
print(p1)

name    [python, c, java, r]
rank            [1, 2, 3, 4]
dtype: object

In [20]:
p=[11,22,33,44,55,66]
print(type(p1))
p1=pd.Series(p)
print(p1)
print(p1[4])

<class 'pandas.core.series.Series'>
0    11
1    22
2    33
3    44
4    55
5    66
dtype: int64
55

In [21]:
p=pd.Series(12,index=[1,2,3,4,5])
print(p)

1    12
2    12
3    12
4    12
5    12
dtype: int64

In [26]:
p1=pd.Series(12,index=[1,2,3,4,5])
p2=pd.Series(12,index=[1,2,3])
print(p1+p2)

1    24.0
2    24.0
3    24.0
4     NaN
5     NaN
dtype: float64

# DataFrame in Pandas

In [28]:
p=[11,22,33,44,55,66]
p1=pd.DataFrame(p)
print(p1)

    0
0  11
1  22
2  33
3  44
4  55
5  66

In [29]:
p1=pd.DataFrame([11,22,33,44,55,66])
print(p1)

    0
0  11
1  22
2  33
3  44
4  55
5  66

In [32]:
p={"a":[1,2,3,4,5,6],"b":[11,22,33,44,55,66]}
p1=pd.DataFrame(p)
print(type(p1))
print(p1)

<class 'pandas.core.frame.DataFrame'>
   a   b
0  1  11
1  2  22
2  3  33
3  4  44
4  5  55
5  6  66

In [33]:
p={"a":[1,2,3,4,5,6],"b":[11,22,33,44,55,66],"c":[111,222,333,444,555,666]}
p1=pd.DataFrame(p)
print(p1)
print(type(p1))

   a   b    c
0  1  11  111
1  2  22  222
2  3  33  333
3  4  44  444
4  5  55  555
5  6  66  666
<class 'pandas.core.frame.DataFrame'>

In [34]:
p={"a":[1,2,3,4,5,6],"b":[11,22,33,44,55,66],"c":[111,222,333,444,555,666]}
p1=pd.DataFrame(p,index=['a','b','c','e','f','g'])
print(p1)
print(type(p1))

   a   b    c
a  1  11  111
b  2  22  222
c  3  33  333
e  4  44  444
f  5  55  555
g  6  66  666
<class 'pandas.core.frame.DataFrame'>

In [36]:
p1=pd.DataFrame({"a":[1,2,3,4,5,6],"b":[11,22,33,44,55,66]})
print(type(p1))
print(p1)

<class 'pandas.core.frame.DataFrame'>
   a   b
0  1  11
1  2  22
2  3  33
3  4  44
4  5  55
5  6  66

In [37]:
p={"a":[1,2,3,4,5,6],"b":[11,22,33,44,55,66],"c":[111,222,333,444,555,666]}
p1=pd.DataFrame(p,columns=["b"])
print(p1)
print(type(p1))

    b
0  11
1  22
2  33
3  44
4  55
5  66
<class 'pandas.core.frame.DataFrame'>

In [38]:
p={"a":[1,2,3,4,5,6],"b":[11,22,33,44,55,66],"c":[111,222,333,444,555,666]}
p1=pd.DataFrame(p,columns=["b","c"])
print(p1)
print(type(p1))

    b    c
0  11  111
1  22  222
2  33  333
3  44  444
4  55  555
5  66  666
<class 'pandas.core.frame.DataFrame'>

In [39]:
p=[[1,2,3,4,5,6],[11,22,33,44,55,66]]
p1=pd.DataFrame(p)
print(p1)

    0   1   2   3   4   5
0   1   2   3   4   5   6
1  11  22  33  44  55  66

In [42]:
p={"s":pd.Series([1,2,3,4,5]),
   "r":pd.Series([11,22,33,44,55])}
p1=pd.DataFrame(p)
print(p1)
print(type(p1))

   s   r
0  1  11
1  2  22
2  3  33
3  4  44
4  5  55
<class 'pandas.core.frame.DataFrame'>

# Arithmatic Operation

In [48]:
p1=pd.DataFrame({"a":[1,2,3,4,5,6],"b":[11,22,33,44,55,66],})
print(type(p1))
print(p1)
p1["c"]=p1["a"]+p1["b"]
print(p1)

<class 'pandas.core.frame.DataFrame'>
   a   b
0  1  11
1  2  22
2  3  33
3  4  44
4  5  55
5  6  66
   a   b   c
0  1  11  12
1  2  22  24
2  3  33  36
3  4  44  48
4  5  55  60
5  6  66  72

In [49]:
p1=pd.DataFrame({"a":[1,2,3,4,5,6],"b":[11,22,33,44,55,66],})
print(type(p1))
print(p1)
p1["c"]=p1["a"]-p1["b"]
print(p1)

<class 'pandas.core.frame.DataFrame'>
   a   b
0  1  11
1  2  22
2  3  33
3  4  44
4  5  55
5  6  66
   a   b   c
0  1  11 -10
1  2  22 -20
2  3  33 -30
3  4  44 -40
4  5  55 -50
5  6  66 -60

In [50]:
p1=pd.DataFrame({"a":[1,2,3,4,5,6],"b":[11,22,33,44,55,66],})
print(type(p1))
print(p1)
p1["c"]=p1["a"]*p1["b"]
print(p1)

<class 'pandas.core.frame.DataFrame'>
   a   b
0  1  11
1  2  22
2  3  33
3  4  44
4  5  55
5  6  66
   a   b    c
0  1  11   11
1  2  22   44
2  3  33   99
3  4  44  176
4  5  55  275
5  6  66  396

In [51]:
p1=pd.DataFrame({"a":[11,24,56,78,43,15],"b":[11,22,33,44,55,66],})
print(p1)
p1["c"]=p1["a"]<=24
p1["d"]=p1["b"]>=33
print(p1)

    a   b
0  11  11
1  24  22
2  56  33
3  78  44
4  43  55
5  15  66
    a   b      c      d
0  11  11   True  False
1  24  22   True  False
2  56  33  False   True
3  78  44  False   True
4  43  55  False   True
5  15  66   True   True

# Insert and Delete

In [12]:
p1=pd.DataFrame({"a":[11,24,56,78,43,15],"b":[11,22,33,44,55,66],})
p1.insert(1,"python",p1["a"])
print(p1)

    a  python   b
0  11      11  11
1  24      24  22
2  56      56  33
3  78      78  44
4  43      43  55
5  15      15  66

In [59]:
p1=pd.DataFrame({"a":[11,24,56,78,43,15],"b":[11,22,33,44,55,66],})
p1.insert(2,"python",p1["a"])
print(p1)

    a   b  python
0  11  11      11
1  24  22      24
2  56  33      56
3  78  44      78
4  43  55      43
5  15  66      15

In [64]:
p1=pd.DataFrame({"a":[11,24,56,78,43,15],"b":[11,22,33,44,55,66],})
p1.insert(2,"python",p1["a"][:3])
print(p1)

    a   b  python
0  11  11    11.0
1  24  22    24.0
2  56  33    56.0
3  78  44     NaN
4  43  55     NaN
5  15  66     NaN

In [66]:
p=pd.DataFrame({"a":[11,24,56,78,43,15],"b":[11,22,33,44,55,66],})
p["python1"]=p["a"]
print(p)

    a   b  python1
0  11  11       11
1  24  22       24
2  56  33       56
3  78  44       78
4  43  55       43
5  15  66       15

In [69]:
p=pd.DataFrame({"marks1":[67,87,66,78,43,15],"marks2":[35,64,87,54,37,90],"marks3":[99,87,68,65,45,38]})
p1=p.pop("marks2")
print(p1)

0    35
1    64
2    87
3    54
4    37
5    90
Name: marks2, dtype: int64

In [14]:
p=pd.DataFrame({"marks1":[67,87,66,78,43,15],"marks2":[35,64,87,54,37,90],"marks3":[99,87,68,65,45,38]})
p1=p.pop("marks2")
print(p)

   marks1  marks3
0      67      99
1      87      87
2      66      68
3      78      65
4      43      45
5      15      38

In [73]:
p=pd.DataFrame({"marks1":[67,87,66,78,43,15],"marks2":[35,64,87,54,37,90],"marks3":[99,87,68,65,45,38]})
del p["marks1"]
print(p)

   marks2  marks3
0      35      99
1      64      87
2      87      68
3      54      65
4      37      45
5      90      38